$primary-color: #ff5274;
$heading-color: #607286;
$sub-heading2-color: #acb1b4;
$span-color: #b11332;
$text-color: rgba(28, 54, 83, 0.7);
$white: #fff;
$mask: rgba(38, 43, 57, 0.9);
$sub-heading1-color: #3d4351;
$background-grey-1:#e6e9ea;
$background-grey-2:#f7f8fa;
$background-dark-grey: rgba(61, 67, 81, 0.8);
$dots-color: #5c5f6a;
$footer-social-color: #373d4a;
$footer-color: #3d4351;
$icon-background: #454d5e;
$footer-top-color: #495061;
$span-color: #b11332;

$twitter-color: #1ab4ef;
$facebook-color: #3b5898;

$desktop-breakpoint: 1200px;
$tab-breakpoint: 990px;
$mobile-breakpoint: 768px;
$small-mob-breakpoint: 576px;